body{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; 

    background-position: center;
    background-color: #0000007b;
    background-image: url("wood.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vw; */
    margin: 0;
    max-width: 100vw;
    

}

.character {
    height: 100%;
}

.characters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 40px;

    padding: 20px;
    padding-top :30px;
  
}


.characters2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;

    padding: 20px;
    padding-top :40px;
   
}

.characters3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;

    padding: 20px;
    padding-top :40px;

}

.characters4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;

    padding: 20px;
    padding-top :40px;

}


.devs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

    padding: 20px;
    padding-top :60px;

}

.us{
    border-radius: 200px; ;
}

a:hover{
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border-color: orange;
   

}


.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.242);
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;

    top: 0;
    width: 100%;
    width: 100vw;
    z-index: 1000;

}




.copyright {
    text-align: center;
    font-size: 30px;
    color: #ffaa00;
    margin-top: 70px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: rgba(240, 248, 255, 0.397);
    }


.devs-heading {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-top: 70px;
padding-top: 30px;}
    
   

.tracemoe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

  
    background-color: #5b310f65;
    background-image: url("");

    
    height: 100vh;        
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vw; */
    margin: 0;
    max-width: 100vw;
}

.tracemoein{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    border-radius: 20px;
    width: 400;
    height: 140;
}
.inputblock{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('backcam.jpg'); 
    background-size: cover;     
    background-position: center;
    border-radius: 20px;


    margin: 20px;
    box-shadow: 0 4px 8px rgba(11, 85, 4, 0.2);
    width: 700px;
    height: 100px;
}

.traceblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

    background-color: rgb(168, 170, 172);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    margin-top: 20px;

    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 400px;
    display: flex;
    max-width: 800px;

}


.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: rgba(0, 74, 12, 0.242);
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    margin-top: 20px;

    margin: 20px;
    box-shadow: 0 4px 8px rgba(11, 85, 4, 0.2);
    width: 700px;
    height: 200px;
}



.watch{
    gap : 725px;
    display: flex;
}


.logo{

    left: 0 ;
    margin-right: 20px;
}


.navblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 650px ;

}


.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;


}

.navlinks {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mal {
    background-color: #6d6d6d;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}